
/*--------Masonry CSS Below---------*/
img {
  max-width: auto;
  height: 350px;
}
li {
  list-style-type: none;
}

/*--------NavBar CSS Below---------*/
.navbar {
 /* background-color: #242d39;*/
  background-color: #000000;
  border-color: #b4ccab;
}

/*This holds the navbar in place at the top of the page.*/
.nav-container{
  margin-top: 35px;
  display: block;
}

.navbar .navbar-brand {
  color: #fff3ec;
}
.navbar .navbar-brand:hover {
  background-color: #B4CCAB;
  color: #242d39;
}
.navbar .navbar-text {
  color: #fff3ec;
}
.navbar .navbar-nav > li > Link {
  color: #fff3ec;
}
.navbar .navbar-nav > li > Link:hover {
  background-color: #B4CCAB;
  color: #242d39;
}
/*
.navbar .navbar-nav > li > .dropdown-menu {
  background-color: #242d39;
}*/

.navbar .navbar-nav > li > .dropdown-menu > li > Link {
  color: #fff3ec;
}
.navbar .navbar-nav > li > .dropdown-menu > li > Link:hover {
  color: #242d39;
  background-color: #b4ccab;
}
.navbar .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #CCA994;
}
.navbar .navbar-nav .open .dropdown-menu > .active > Link {
  color: #fff3ec;
  background-color: #242d39;
}
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover {
  color: #242d39;
  background-color: #b4ccab;
}
.navbar .navbar-nav > .active > Link,
.navbar .navbar-nav > .active > Link:hover {
  color: #242d39;
  background-color: #b4ccab;
}
.navbar-toggle {
  border-color: #FFF3EC;
}
.navbar-toggle :hover {
  border-color: #b4ccab;
}
.navbar-collapse {
  border-color: #CCA994;
  color: #FFF3EC;
}
.icon-bar {
  background-color: #FFF3EC;
}
#juno:hover {
  background-color: #8BAE7E;
}

/*.navbar .navbar-link {
  color: #fff3ec;
}

.navbar .navbar-link:hover {
  color: #242d39;
}*/

/*--------Footer CSS Below---------*/

/*.footer {*/
  /*position: fixed;*/
 /* height: 20px;
  line-height: 8px;
  font-size: 12px;
  margin-top: 4px;
  padding-bottom: 4px;
  bottom: 10px;
  width: 100%;*/
  /*background: #ebf3ff;*/

/*}
*/


.flex-container{
  display: flex;
  flex-direction: column-reverse;
  background-color: #000000;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  color: white;
}

.footer-info{
  padding-left: 10px;
  margin: 0;
  width: 70%;
  height: 80%;
  position: fixed;
}


/*--------HomePage CSS Below---------*/

.homepage .title {
  font-family: 'Cormorant Upright', serif;
  font-weight: 700;
  text-align: center;
}

.imageText {
  font-family: 'Source Sans Pro', serif;
  font-weight: 600;
  text-align: center;
}

/*--------FAQ CSS Below---------*/

.question{
  font-weight: bold;
}

.github-list{
  list-style-type: none;
}


.productPic {
  height: 100px;
  width: auto;
}

/*--------Drop Down Menu CSS Below---------*/

@media (max-width: 767px) {
  .navbar .navbar-nav .open .dropdown-menu > li > Link {
    color: #FFF3EC;
  }
 /* .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #242d39;
  }*/

.navbar .navbar-nav .open .dropdown-menu > .active > Link,
.navba .navbar-nav .open .dropdown-menu > .active > Link:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > Link:focus {
    color: #FFF3EC;
    background-color: #B4CCAB;
  }
}

/* Mobile */
@media (max-width: 767px) {
    .slider-size {
        width: auto;
    }
    .slider-size > img {
         height: 50%;
    }
}

/* tablets */
@media (max-width: 991px) and (min-width: 768px) {
    .slider-size {
        width: auto;
    }
    .slider-size > img {
        height: 50%;
    }
}

/* laptops */
@media (max-width: 1023px) and (min-width: 992px) {
    .slider-size {
         width: 150px;
    }
    .slider-size > img {
        height: 80%;
    }
}

/* desktops */
@media (min-width: 1024px) {
    .slider-size {
        width: 350px;
    }
    .slider-size > img {
        height: 60%;
    }
}
