/* http://paletton.com/palette.php?uid=30n0u0k5et%2B0-Rx2sD98NpBd8lB
http://stackoverflow.com/questions/18529274/change-navbar-color-in-twitter-bootstrap-3
http://kenwheeler.github.io/slick/
spycolor.com
https://hpneo.github.io/gmaps/examples/static_markers.html*/
/*===================*/
.navbar {
  background-color: #242d39;
  border-color: #b4ccab;
}

/*This holds the navbar in place at the top of the page.*/
.nav-container{
  margin-top: 35px;
  display: block;
}

.navbar .navbar-brand {
  color: #fff3ec;
}
.navbar .navbar-brand:hover {
  background-color: #B4CCAB;
  color: #242d39;
}
.navbar .navbar-text {
  color: #fff3ec;
}
.navbar .navbar-nav > li > a {
  color: #fff3ec;
}
.navbar .navbar-nav > li > a:hover {
  background-color: #B4CCAB;
  color: #242d39;
}
/*
.navbar .navbar-nav > li > .dropdown-menu {
  background-color: #242d39;
}*/
.navbar .navbar-nav > li > .dropdown-menu > li > a {
  color: #fff3ec;
}
.navbar .navbar-nav > li > .dropdown-menu > li > a:hover {
  color: #242d39;
  background-color: #b4ccab;
}
.navbar .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #CCA994;
}
.navbar .navbar-nav .open .dropdown-menu > .active > a {
  color: #fff3ec;
  background-color: #242d39;
}
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover {
  color: #242d39;
  background-color: #b4ccab;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover {
  color: #242d39;
  background-color: #b4ccab;
}
.navbar-toggle {
  border-color: #FFF3EC;
}
.navbar-toggle :hover {
  border-color: #b4ccab;
}
.navbar-collapse {
  border-color: #CCA994;
  color: #FFF3EC;
}
.icon-bar {
  background-color: #FFF3EC;
}
#juno:hover {
  background-color: #8BAE7E;
}

/*.navbar .navbar-link {
  color: #fff3ec;
}
.navbar .navbar-link:hover {
  color: #242d39;
}*/

/*--------Footer CSS Below---------*/

.footer {
  /*position: fixed;*/
  height: 20px;
  line-height: 8px;
  font-size: 12px;
  margin-top: 4px;
  padding-bottom: 4px;
  bottom: 10px;
  width: 100%;
  /*background: #ebf3ff;*/

}

/*--------HomePage CSS Below---------*/

.homepage{
  font-family: 'Cormorant Upright', san-serif;
  text-align: center;

}

/*--------FAQ CSS Below---------*/

.question{
  font-weight: bold;
}

.github-list{
  list-style-type: none;
}



.productPic {
  height: 100px;
  width: auto;
}

@media (max-width: 767px) {
  .navbar .navbar-nav .open .dropdown-menu > li > a {
    color: #FFF3EC;
  }
 /* .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #242d39;
  }*/
 .navbar .navbar-nav .open .dropdown-menu > .active > a,
  .navba .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #FFF3EC;
    background-color: #B4CCAB;
  }
}
/* Mobile */
@media (max-width: 767px) {
    .slider-size {
        width: auto;
    }
    .slider-size > img {
         height: 50%;
    }
}

/* tablets */
@media (max-width: 991px) and (min-width: 768px) {
    .slider-size {
        width: auto;
    }
    .slider-size > img {
        height: 50%;
    }
}

/* laptops */
@media (max-width: 1023px) and (min-width: 992px) {
    .slider-size {
         width: 150px;
    }
    .slider-size > img {
        height: 80%;
    }
}

/* desktops */
@media (min-width: 1024px) {
    .slider-size {
        width: 350px;
    }
    .slider-size > img {
        height: 60%;
    }
}

/*.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-intro {
  font-size: large;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/